@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

body{
    background-color: #634832;
}
img{
    width: 50px;
    height: 50px;
}
a{
    color: black;
    font-size: 30px;
    text-decoration: none       ;
    
}
.col-12{
    background-color: #ece0d1;
}