@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');

body{
    background-color: #634832;
}
.logo{
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
}

nav{
    background-color: #ece0d1;
    padding: 15px;
    position: fixed;
    border-radius: 20px;
    margin:10px;
   
}
nav a{
    color: black;
    font-size: 30px;
    text-decoration: none       ;
    padding-right: 20px;
    padding-left: 50px;
}
.banner{
    background-image: url(../img/kávézó/index.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    background-repeat: repeat;
}   

.fooldal{
        background-image:url(../img/kávézó/index.jpg);

        background-size:cover;

        background-size:2000px;
        background-repeat: no-repeat;

        position: fixed;}
      
h1{
    color: #433224;
    text-align: center;
}
.kave{
    color: #433224;
    background-color: #e0c5af;
    border-radius: 4px;
    margin-bottom: 1rem;
    border:1px solid;
}
.kave:hover{
    box-shadow: 0px 0px 5px #d2b59e;
}
.kave h2{
   font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

.kep1{
    background-color: #d2b59e;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    
}
.kep2{
    background-color: #d2b59e;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}
.kep3{
    background-color: #d2b59e;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

p{
    font-size: 45px;
    text-align: left;
}

.sz1{
    font-size: 40px;
    text-align: right;
   padding-left: 50px;
   
}
.sz{
    font-size: 40px;
    text-align: left;
   padding-left: 50px;
   padding-bottom: 40px;
}
.sz2{
    font-size: 40px;
    text-align: left;
   padding-left: 50px;
   
}
.bcim{
    color:  #433224;
    text-align: left;
    
}
.bcim1{
    color: #433224;
    text-align: right;
    
}


.szoveg1{
    text-align: left;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #ece0d1;
    font-weight: 1px;
}

.szoveg2{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 40px;
    color: #ece0d1;
    font-weight: 1px;
}

.szoveghatter{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 150px;
    margin-left: 100px;
    padding-bottom: 40px;
    border-radius: 8px;
}



.kepeskep{
    padding-left: 175px;
    max-width: 75%;
    height: auto;
    
}



.blogkep2{
    float: right;
    width: 500px;
    height: 417px;
    
   
}
.blogkep1{
    float: left;
    width: 500px;
    height: 396px;
}
.blogkep3{
    float: left;
    width: 500px;
    height: 416px;
}


.suti{
    color: #433224;
    background-color: #e0c5af;
    border-radius: 4px;
    margin-bottom: 1rem;
    border:1px solid;
    /*position: relative;*/
    
}
.suti:hover{
    box-shadow: 0px 0px 5px #d2b59e;
}
.suti h2{
   font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

/*.col-lg-4{
    display: inline-block;
}*/
.rolunk h1{
    text-align: left;
    font-size: 400%;
    margin-bottom: 2%;
}
.rolunk ul{
    list-style-type: none;
    font-size: 200%;
}
.rolunk h1 {
    display: inline-block;
}
.footer{
    background-color: #d2b59e;
    color: black;
    
}
.footer li{
    list-style-type: none;
    
}
.footer li>img{
    width: 15px;
    margin-right: 10px;
}
#napiajánlat{
    width: 5%;
    height: 3%;
}
.button{
    border-radius: 10%;
    font-size: 25px;
    padding-top: 6px;
    
}
#muffin{
    height: 380px;
}
#choux{
    height: 380px;
}
#tiramisu{
    height: 363px;
}
#kapcs{
    margin-left: -80%;
    font-size: 50px;
    padding-bottom: 20px;

}
#ikon{
    margin-left: -80%;
    font-size: 30px;
}
#ikep{
    width: 60px;
    height: 40px;
}
#km{
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 16px;
}
#irat{
    font-size: 40px;
}
.place{
    font-size: 40px;
    height:45px;
}
#ar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
#hhh{
    font-size: 25px;
}