*{
    margin: 0;
    padding: 0;
}

div.container{
    align-items: center;
  
    background-position: center;
    
    background-size: 10%;
    list-style: none;
    
    white-space: nowrap;
    position: relative;
    font-size: 150%;
    
}


.container{
    background-color: #ece0d1;
    border-radius: 20px;
    margin: 20px;
    margin-left: 4cm;
    margin-right: 4cm;
}
div.container a{
    align-items: center;
    display: inline-block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    padding-right: 200px;
    padding-left: 100px;
    overflow: hidden;

}
h1{
    font-family: lavishly yours;
    text-align: center;
}
a{
    font-family: ;
}

.kepek{
   
   
    padding-left: 200px;
    padding-right: 500px;
}


  img {
    float: left;
}

p {
    float: left;
    background-color: #967259;
}
